html,
body {
  /* background-color: #333; */
  background: rgb(91,206,250);
  background: linear-gradient(-45deg, rgba(91,206,250,1) 0%, rgba(245,169,184,1) 25%, rgba(245,169,184,0.22452731092436973) 50%, rgba(245,169,184,1) 75%, rgba(91,206,250,1) 100%);
  color: white;
  text-shadow: 0.1rem .1rem .2rem rgba(0, 0, 0, 0.9);
  min-height: 100vh;
}
a {
    color: white;
}
a:hover {
    color: rgba(91,206,250,1);
}
main {
    min-height: 100%;
    font-size: 120%;
}
main .lead {
    font-size: 150%;
}

.tda .navbar-dark .navbar-nav .nav-link {
    color: white;
}

.tda-logo {
    box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.58); 
    border-radius:50%;
}
.tda-logo-small {
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.58); 
}

.btn-pink {
    background-color:rgba(245,169,184,1);
    color: white;
    border-color: rgba(245,169,184,1);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
    font-size: 150%;
    text-shadow: none;
}
.btn-pink:hover {
    background-color:rgba(91,206,250,1);
    border-color: rgba(91,206,250,1);
    color: white;
}

.modal {
    color: #212529;
    text-shadow: none;;
}